Create Database [PhoneShop]
USE [PhoneShop]
GO
/****** Object:  Table [dbo].[accounts]    Script Date: 19/02/2026 16:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[phone_number] [nvarchar](15) NULL,
	[address] [ntext] NULL,
	[role] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK__accounts__3213E83F1D8B26E9] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[brands]    Script Date: 19/02/2026 16:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brands](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[brand_name] [nvarchar](100) NOT NULL,
	[description] [ntext] NULL,
	[logo] [nvarchar](255) NULL,
	[website] [nvarchar](255) NULL,
	[country] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK__brands__3213E83F26E1813F] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 19/02/2026 16:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
	[description] [ntext] NULL,
	[image] [nvarchar](255) NULL,
	[sort_order] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK__categori__3213E83F9E6947ED] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contacts]    Script Date: 19/02/2026 16:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contacts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[phone_number] [nvarchar](15) NULL,
	[subject] [nvarchar](200) NOT NULL,
	[message_content] [ntext] NOT NULL,
	[contact_type] [nvarchar](20) NULL,
	[processing_status] [nvarchar](20) NULL,
	[admin_notes] [ntext] NULL,
	[created_at] [datetime2](7) NULL,
	[processed_at] [datetime2](7) NULL,
	[processed_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 19/02/2026 16:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[product_name] [nvarchar](200) NOT NULL,
	[product_image] [nvarchar](255) NULL,
	[selling_price] [decimal](12, 2) NOT NULL,
	[quantity] [int] NOT NULL,
	[subtotal] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 19/02/2026 16:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_code] [nvarchar](50) NOT NULL,
	[account_id] [int] NOT NULL,
	[recipient_name] [nvarchar](100) NOT NULL,
	[recipient_phone] [nvarchar](15) NOT NULL,
	[shipping_address] [ntext] NOT NULL,
	[recipient_email] [nvarchar](100) NULL,
	[total_amount] [decimal](12, 2) NOT NULL,
	[shipping_fee] [decimal](10, 2) NULL,
	[final_total] [decimal](12, 2) NOT NULL,
	[payment_method] [nvarchar](20) NULL,
	[status] [int] NOT NULL,
	[customer_notes] [ntext] NULL,
	[admin_notes] [ntext] NULL,
	[order_date] [datetime2](7) NOT NULL,
	[confirmed_date] [datetime2](7) NULL,
	[shipped_date] [datetime2](7) NULL,
	[completed_date] [datetime2](7) NULL,
	[processed_by] [int] NULL,
 CONSTRAINT [PK__orders__3213E83F118AB1BB] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_reviews]    Script Date: 19/02/2026 16:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_reviews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[account_id] [int] NOT NULL,
	[order_id] [int] NULL,
	[rating_score] [int] NOT NULL,
	[review_content] [ntext] NULL,
	[review_images] [nvarchar](max) NULL,
	[status] [nvarchar](20) NULL,
	[reviewed_at] [datetime2](7) NULL,
	[approved_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 19/02/2026 16:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [nvarchar](200) NOT NULL,
	[product_code] [nvarchar](50) NOT NULL,
	[short_description] [ntext] NULL,
	[detailed_description] [ntext] NULL,
	[selling_price] [decimal](12, 2) NOT NULL,
	[original_price] [decimal](12, 2) NULL,
	[stock_quantity] [int] NULL,
	[main_image] [nvarchar](255) NULL,
	[image_gallery] [nvarchar](max) NULL,
	[technical_specs] [nvarchar](max) NULL,
	[category_id] [int] NOT NULL,
	[brand_id] [int] NOT NULL,
	[view_count] [int] NULL,
	[rating_score] [decimal](2, 1) NULL,
	[rating_count] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK__products__3213E83FE02A8677] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shopping_cart]    Script Date: 19/02/2026 16:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shopping_cart](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[accounts] ON 

INSERT [dbo].[accounts] ([id], [username], [password], [email], [full_name], [phone_number], [address], [role], [created_at], [updated_at], [status]) VALUES (1, N'admin', N'AQAAAAIAAYagAAAAEPVmaEZ3l55ouf3IcvORWEp6JmEDkFII0kVu1+5wD3gvnrYDDSeMPrdxVmjf9xOmww==', N'admin@PhoneShop.com', N'System Administrator', N'321316516', N'Thon Long Khe 3 An Khe Quynh Phu Thai Binh', N'admin', CAST(N'2025-09-16T10:27:33.0000000' AS DateTime2), CAST(N'2025-09-27T17:28:37.1400000' AS DateTime2), 1)
INSERT [dbo].[accounts] ([id], [username], [password], [email], [full_name], [phone_number], [address], [role], [created_at], [updated_at], [status]) VALUES (4007, N'khachhang1', N'AQAAAAIAAYagAAAAEPVURJ1PJIP7amwNNj3vDkkLYNiXi74YlL1TQAPLPYOHlkhUJeaF3c6dyDWV4S21Kw==', N'khachhang1@gmail.com', N'Khách hàng 1', N'0123456701', N'Chung cư Khải Hoàn, Phường Hòa Bình, Thành phố Hồ Chí Minh, Việt Nam', N'customer', CAST(N'2026-02-19T16:23:53.2017329' AS DateTime2), CAST(N'2026-02-19T16:23:53.2021136' AS DateTime2), 1)
INSERT [dbo].[accounts] ([id], [username], [password], [email], [full_name], [phone_number], [address], [role], [created_at], [updated_at], [status]) VALUES (4008, N'KhachHang2', N'AQAAAAIAAYagAAAAEDyqE3WkWEQAv4WrAyBeM+rIXmoDVwN2RTg4VH3pfgQJtAOoFUnHnQWYFcoRP35dGA==', N'KhachHang2@gmail.com', N'Khách hàng 2', N'0123456702', N'Hoàn Kiếm, Phước Hòa, Phường Nha Trang, Khánh Hòa, 57124, Việt Nam', N'customer', CAST(N'2026-02-19T16:25:29.7569746' AS DateTime2), CAST(N'2026-02-19T16:25:29.7569782' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[brands] ON 

INSERT [dbo].[brands] ([id], [brand_name], [description], [logo], [website], [country], [created_at], [updated_at], [status]) VALUES (2, N'SamSung', NULL, N'/uploads/y-nghia-logo-samsung.png', NULL, NULL, CAST(N'2025-10-31T10:42:54.9853154' AS DateTime2), CAST(N'2026-02-19T15:15:33.6900000' AS DateTime2), 1)
INSERT [dbo].[brands] ([id], [brand_name], [description], [logo], [website], [country], [created_at], [updated_at], [status]) VALUES (3, N'Iphone', NULL, N'/uploads/logo_iphone.png', NULL, NULL, CAST(N'2025-10-31T11:22:32.9029861' AS DateTime2), CAST(N'2026-02-19T15:19:14.1800000' AS DateTime2), 1)
INSERT [dbo].[brands] ([id], [brand_name], [description], [logo], [website], [country], [created_at], [updated_at], [status]) VALUES (4, N'Xiaomi', NULL, N'/uploads/logo_xiaomi.png', NULL, NULL, CAST(N'2025-10-31T11:24:26.9238950' AS DateTime2), CAST(N'2026-02-19T15:12:44.3400000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[brands] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [category_name], [description], [image], [sort_order], [created_at], [updated_at], [status]) VALUES (1001, N'Thường', NULL, NULL, 0, CAST(N'2026-02-19T15:44:20.8549654' AS DateTime2), CAST(N'2026-02-19T15:44:20.8551390' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[contacts] ON 

INSERT [dbo].[contacts] ([id], [full_name], [email], [phone_number], [subject], [message_content], [contact_type], [processing_status], [admin_notes], [created_at], [processed_at], [processed_by]) VALUES (1, N'Nguyễn Xuân Thái', N'ada@gmail.com', N'010110101', N'cần tư vẫn', N'Cẫn 1 chiếc cam nhìn đêm để ngoài trời giá cả phải chăng', N'other', N'read', NULL, CAST(N'2025-10-31T14:42:07.4507851' AS DateTime2), NULL, NULL)
INSERT [dbo].[contacts] ([id], [full_name], [email], [phone_number], [subject], [message_content], [contact_type], [processing_status], [admin_notes], [created_at], [processed_at], [processed_by]) VALUES (1001, N'Nguyễn Xuân Thái', N'ada@gmail.com', N'0397790753', N'cần tư vẫn', N'ádasd', N'other', N'read', NULL, CAST(N'2025-11-18T20:36:04.3754376' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[contacts] OFF
GO
SET IDENTITY_INSERT [dbo].[order_details] ON 

INSERT [dbo].[order_details] ([id], [order_id], [product_id], [product_name], [product_image], [selling_price], [quantity], [subtotal]) VALUES (1, 1, 4, N'iPhone 17 Pro Max 256GB', N'https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-17-pro-max_3.jpg', CAST(37190000.00 AS Decimal(12, 2)), 1, CAST(37190000.00 AS Decimal(12, 2)))
INSERT [dbo].[order_details] ([id], [order_id], [product_id], [product_name], [product_image], [selling_price], [quantity], [subtotal]) VALUES (2, 2, 9, N'Samsung Galaxy A56 5G 8GB 128GB', N'https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/d/i/dien-thoai-samsung-galaxy-a56.1_1.png', CAST(8590000.00 AS Decimal(12, 2)), 1, CAST(8590000.00 AS Decimal(12, 2)))
INSERT [dbo].[order_details] ([id], [order_id], [product_id], [product_name], [product_image], [selling_price], [quantity], [subtotal]) VALUES (3, 3, 6, N'Samsung Galaxy S25 Ultra 12GB 256GB', N'https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/d/i/dien-thoai-samsung-galaxy-s25-ultra_1__3.png', CAST(25990000.00 AS Decimal(12, 2)), 1, CAST(25990000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[order_details] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[shopping_cart] ON 

INSERT [dbo].[shopping_cart] ([id], [account_id], [product_id], [quantity], [created_at], [updated_at]) VALUES (1, 1, 4, 1, CAST(N'2026-02-19T16:18:16.6760933' AS DateTime2), CAST(N'2026-02-19T16:18:16.6762393' AS DateTime2))
SET IDENTITY_INSERT [dbo].[shopping_cart] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__accounts__AB6E6164107CBFEC]    Script Date: 19/02/2026 16:30:15 ******/
ALTER TABLE [dbo].[accounts] ADD  CONSTRAINT [UQ__accounts__AB6E6164107CBFEC] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__accounts__F3DBC572845D03FF]    Script Date: 19/02/2026 16:30:15 ******/
ALTER TABLE [dbo].[accounts] ADD  CONSTRAINT [UQ__accounts__F3DBC572845D03FF] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_accounts_role]    Script Date: 19/02/2026 16:30:15 ******/
CREATE NONCLUSTERED INDEX [idx_accounts_role] ON [dbo].[accounts]
(
	[role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_accounts_status]    Script Date: 19/02/2026 16:30:15 ******/
CREATE NONCLUSTERED INDEX [idx_accounts_status] ON [dbo].[accounts]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_brands_status]    Script Date: 19/02/2026 16:30:15 ******/
CREATE NONCLUSTERED INDEX [idx_brands_status] ON [dbo].[brands]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_categories_sort_order]    Script Date: 19/02/2026 16:30:15 ******/
CREATE NONCLUSTERED INDEX [idx_categories_sort_order] ON [dbo].[categories]
(
	[sort_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_categories_status]    Script Date: 19/02/2026 16:30:15 ******/
CREATE NONCLUSTERED INDEX [idx_categories_status] ON [dbo].[categories]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_contacts_status]    Script Date: 19/02/2026 16:30:15 ******/
CREATE NONCLUSTERED INDEX [idx_contacts_status] ON [dbo].[contacts]
(
	[processing_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_contacts_type]    Script Date: 19/02/2026 16:30:15 ******/
CREATE NONCLUSTERED INDEX [idx_contacts_type] ON [dbo].[contacts]
(
	[contact_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_order_details_order]    Script Date: 19/02/2026 16:30:15 ******/
CREATE NONCLUSTERED INDEX [idx_order_details_order] ON [dbo].[order_details]
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_order_details_product]    Script Date: 19/02/2026 16:30:15 ******/
CREATE NONCLUSTERED INDEX [idx_order_details_product] ON [dbo].[order_details]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__orders__99D12D3F59F32765]    Script Date: 19/02/2026 16:30:15 ******/
ALTER TABLE [dbo].[orders] ADD  CONSTRAINT [UQ__orders__99D12D3F59F32765] UNIQUE NONCLUSTERED 
(
	[order_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_orders_account]    Script Date: 19/02/2026 16:30:15 ******/
CREATE NONCLUSTERED INDEX [idx_orders_account] ON [dbo].[orders]
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_orders_date]    Script Date: 19/02/2026 16:30:15 ******/
CREATE NONCLUSTERED INDEX [idx_orders_date] ON [dbo].[orders]
(
	[order_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_orders_status]    Script Date: 19/02/2026 16:30:15 ******/
CREATE NONCLUSTERED INDEX [idx_orders_status] ON [dbo].[orders]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_reviews_account]    Script Date: 19/02/2026 16:30:15 ******/
CREATE NONCLUSTERED INDEX [idx_reviews_account] ON [dbo].[product_reviews]
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_reviews_product]    Script Date: 19/02/2026 16:30:15 ******/
CREATE NONCLUSTERED INDEX [idx_reviews_product] ON [dbo].[product_reviews]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_reviews_status]    Script Date: 19/02/2026 16:30:15 ******/
CREATE NONCLUSTERED INDEX [idx_reviews_status] ON [dbo].[product_reviews]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__products__AE1A8CC48899F599]    Script Date: 19/02/2026 16:30:15 ******/
ALTER TABLE [dbo].[products] ADD  CONSTRAINT [UQ__products__AE1A8CC48899F599] UNIQUE NONCLUSTERED 
(
	[product_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_products_brand]    Script Date: 19/02/2026 16:30:15 ******/
CREATE NONCLUSTERED INDEX [idx_products_brand] ON [dbo].[products]
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_products_category]    Script Date: 19/02/2026 16:30:15 ******/
CREATE NONCLUSTERED INDEX [idx_products_category] ON [dbo].[products]
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_products_price]    Script Date: 19/02/2026 16:30:15 ******/
CREATE NONCLUSTERED INDEX [idx_products_price] ON [dbo].[products]
(
	[selling_price] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_products_rating]    Script Date: 19/02/2026 16:30:15 ******/
CREATE NONCLUSTERED INDEX [idx_products_rating] ON [dbo].[products]
(
	[rating_score] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_products_status]    Script Date: 19/02/2026 16:30:15 ******/
CREATE NONCLUSTERED INDEX [idx_products_status] ON [dbo].[products]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_cart_account]    Script Date: 19/02/2026 16:30:15 ******/
CREATE NONCLUSTERED INDEX [idx_cart_account] ON [dbo].[shopping_cart]
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_cart_product]    Script Date: 19/02/2026 16:30:15 ******/
CREATE NONCLUSTERED INDEX [idx_cart_product] ON [dbo].[shopping_cart]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[accounts] ADD  CONSTRAINT [DF__accounts__role__37A5467C]  DEFAULT ('customer') FOR [role]
GO
ALTER TABLE [dbo].[accounts] ADD  CONSTRAINT [DF__accounts__create__38996AB5]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[accounts] ADD  CONSTRAINT [DF__accounts__update__398D8EEE]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[accounts] ADD  CONSTRAINT [DF__accounts__status__3A81B327]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[brands] ADD  CONSTRAINT [DF__brands__created___4316F928]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[brands] ADD  CONSTRAINT [DF__brands__updated___440B1D61]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[brands] ADD  CONSTRAINT [DF__brands__status__44FF419A]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[categories] ADD  CONSTRAINT [DF__categorie__sort___3D5E1FD2]  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[categories] ADD  CONSTRAINT [DF__categorie__creat__3E52440B]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[categories] ADD  CONSTRAINT [DF__categorie__updat__3F466844]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[categories] ADD  CONSTRAINT [DF__categorie__statu__403A8C7D]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[contacts] ADD  DEFAULT ('other') FOR [contact_type]
GO
ALTER TABLE [dbo].[contacts] ADD  CONSTRAINT [DF__contacts__proces__68487DD7]  DEFAULT ('unread') FOR [processing_status]
GO
ALTER TABLE [dbo].[contacts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[order_details] ADD  DEFAULT ((0)) FOR [order_id]
GO
ALTER TABLE [dbo].[order_details] ADD  DEFAULT ((0)) FOR [product_id]
GO
ALTER TABLE [dbo].[orders] ADD  CONSTRAINT [DF__orders__account___52593CB8]  DEFAULT ((0)) FOR [account_id]
GO
ALTER TABLE [dbo].[orders] ADD  CONSTRAINT [DF__orders__shipping__534D60F1]  DEFAULT ((0)) FOR [shipping_fee]
GO
ALTER TABLE [dbo].[orders] ADD  CONSTRAINT [DF__orders__payment___5441852A]  DEFAULT ('cod') FOR [payment_method]
GO
ALTER TABLE [dbo].[orders] ADD  CONSTRAINT [DF__orders__status__5535A963]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[orders] ADD  CONSTRAINT [DF__orders__order_da__5629CD9C]  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[product_reviews] ADD  DEFAULT ((0)) FOR [product_id]
GO
ALTER TABLE [dbo].[product_reviews] ADD  DEFAULT ((0)) FOR [account_id]
GO
ALTER TABLE [dbo].[product_reviews] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[product_reviews] ADD  DEFAULT (getdate()) FOR [reviewed_at]
GO
ALTER TABLE [dbo].[products] ADD  CONSTRAINT [DF__products__stock___47DBAE45]  DEFAULT ((0)) FOR [stock_quantity]
GO
ALTER TABLE [dbo].[products] ADD  CONSTRAINT [DF__products__catego__48CFD27E]  DEFAULT ((0)) FOR [category_id]
GO
ALTER TABLE [dbo].[products] ADD  CONSTRAINT [DF__products__brand___49C3F6B7]  DEFAULT ((0)) FOR [brand_id]
GO
ALTER TABLE [dbo].[products] ADD  CONSTRAINT [DF__products__view_c__4AB81AF0]  DEFAULT ((0)) FOR [view_count]
GO
ALTER TABLE [dbo].[products] ADD  CONSTRAINT [DF__products__rating__4BAC3F29]  DEFAULT ((0)) FOR [rating_score]
GO
ALTER TABLE [dbo].[products] ADD  CONSTRAINT [DF__products__rating__4CA06362]  DEFAULT ((0)) FOR [rating_count]
GO
ALTER TABLE [dbo].[products] ADD  CONSTRAINT [DF__products__create__4D94879B]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[products] ADD  CONSTRAINT [DF__products__update__4E88ABD4]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[products] ADD  CONSTRAINT [DF__products__status__4F7CD00D]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[shopping_cart] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[shopping_cart] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[shopping_cart] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[order_details]  WITH NOCHECK ADD  CONSTRAINT [FK_order_details_orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FK_order_details_orders]
GO
ALTER TABLE [dbo].[order_details]  WITH NOCHECK ADD  CONSTRAINT [FK_order_details_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FK_order_details_products]
GO
ALTER TABLE [dbo].[orders]  WITH NOCHECK ADD  CONSTRAINT [FK_orders_accounts] FOREIGN KEY([account_id])
REFERENCES [dbo].[accounts] ([id])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_accounts]
GO
ALTER TABLE [dbo].[product_reviews]  WITH NOCHECK ADD  CONSTRAINT [FK_reviews_accounts] FOREIGN KEY([account_id])
REFERENCES [dbo].[accounts] ([id])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[product_reviews] CHECK CONSTRAINT [FK_reviews_accounts]
GO
ALTER TABLE [dbo].[product_reviews]  WITH NOCHECK ADD  CONSTRAINT [FK_reviews_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[product_reviews] CHECK CONSTRAINT [FK_reviews_products]
GO
ALTER TABLE [dbo].[products]  WITH NOCHECK ADD  CONSTRAINT [FK_products_brands] FOREIGN KEY([brand_id])
REFERENCES [dbo].[brands] ([id])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_brands]
GO
ALTER TABLE [dbo].[products]  WITH NOCHECK ADD  CONSTRAINT [FK_products_categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_categories]
GO
ALTER TABLE [dbo].[shopping_cart]  WITH NOCHECK ADD  CONSTRAINT [FK_cart_accounts] FOREIGN KEY([account_id])
REFERENCES [dbo].[accounts] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[shopping_cart] CHECK CONSTRAINT [FK_cart_accounts]
GO
ALTER TABLE [dbo].[accounts]  WITH NOCHECK ADD  CONSTRAINT [CK__accounts__role__7B5B524B] CHECK  (([role]='customer' OR [role]='admin'))
GO
ALTER TABLE [dbo].[accounts] CHECK CONSTRAINT [CK__accounts__role__7B5B524B]
GO
ALTER TABLE [dbo].[contacts]  WITH NOCHECK ADD CHECK  (([contact_type]='other' OR [contact_type]='suggestion' OR [contact_type]='complaint' OR [contact_type]='support'))
GO
ALTER TABLE [dbo].[orders]  WITH NOCHECK ADD  CONSTRAINT [CK__orders__payment___7D439ABD] CHECK  (([payment_method]='e_wallet' OR [payment_method]='credit_card' OR [payment_method]='bank_transfer' OR [payment_method]='cod'))
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [CK__orders__payment___7D439ABD]
GO
ALTER TABLE [dbo].[orders]  WITH NOCHECK ADD  CONSTRAINT [CK__orders__status__7C4F7684] CHECK  (([status]>=(0) AND [status]<=(7)))
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [CK__orders__status__7C4F7684]
GO
ALTER TABLE [dbo].[product_reviews]  WITH NOCHECK ADD CHECK  (([rating_score]>=(1) AND [rating_score]<=(5)))
GO
ALTER TABLE [dbo].[product_reviews]  WITH NOCHECK ADD CHECK  (([status]='rejected' OR [status]='approved' OR [status]='pending'))
GO
/****** Object:  Trigger [dbo].[trg_accounts_update]    Script Date: 19/02/2026 16:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- TRIGGERS FOR AUTO-UPDATE TIMESTAMPS
-- =============================================

-- Accounts trigger
CREATE TRIGGER [dbo].[trg_accounts_update]
ON [dbo].[accounts]
AFTER UPDATE
AS
BEGIN
    UPDATE accounts 
    SET updated_at = GETDATE()
    FROM accounts t
    INNER JOIN inserted i ON t.id = i.id;
END;
GO
ALTER TABLE [dbo].[accounts] ENABLE TRIGGER [trg_accounts_update]
GO
/****** Object:  Trigger [dbo].[trg_brands_update]    Script Date: 19/02/2026 16:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Brands trigger
CREATE TRIGGER [dbo].[trg_brands_update]
ON [dbo].[brands]
AFTER UPDATE
AS
BEGIN
    UPDATE brands 
    SET updated_at = GETDATE()
    FROM brands t
    INNER JOIN inserted i ON t.id = i.id;
END;
GO
ALTER TABLE [dbo].[brands] ENABLE TRIGGER [trg_brands_update]
GO
/****** Object:  Trigger [dbo].[trg_categories_update]    Script Date: 19/02/2026 16:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Categories trigger
CREATE TRIGGER [dbo].[trg_categories_update]
ON [dbo].[categories]
AFTER UPDATE
AS
BEGIN
    UPDATE categories 
    SET updated_at = GETDATE()
    FROM categories t
    INNER JOIN inserted i ON t.id = i.id;
END;
GO
ALTER TABLE [dbo].[categories] ENABLE TRIGGER [trg_categories_update]
GO
/****** Object:  Trigger [dbo].[trg_products_update]    Script Date: 19/02/2026 16:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Products trigger
CREATE TRIGGER [dbo].[trg_products_update]
ON [dbo].[products]
AFTER UPDATE
AS
BEGIN
    UPDATE products 
    SET updated_at = GETDATE()
    FROM products t
    INNER JOIN inserted i ON t.id = i.id;
END;
GO
ALTER TABLE [dbo].[products] ENABLE TRIGGER [trg_products_update]
GO
/****** Object:  Trigger [dbo].[trg_cart_update]    Script Date: 19/02/2026 16:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Shopping cart trigger
CREATE TRIGGER [dbo].[trg_cart_update]
ON [dbo].[shopping_cart]
AFTER UPDATE
AS
BEGIN
    UPDATE shopping_cart 
    SET updated_at = GETDATE()
    FROM shopping_cart t
    INNER JOIN inserted i ON t.id = i.id;
END;
GO
ALTER TABLE [dbo].[shopping_cart] ENABLE TRIGGER [trg_cart_update]
GO
